@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
}

body, html {
    min-width: 100%;
    min-height: 100vh;
}

body {
    width: 70%;
    height: 700px;
    background: url('https://assets.codepen.io/6060109/ZigZag.png');
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
}

h2, h5, h6, a, button {
    font-family: Montserrat;
}

h2, h5 {
    color: #2F463D;
}

.panel {
    width: 30%;
    width: 350px;
    height: 600px;
    background-color: #ffffff;
    margin: 70px 0;
    box-shadow: 0px 40px 40px -20px #3C7B61;
    border-radius: 5px;
    position: relative;
    
}
.panel.left {
    margin-right: -20px;
}

.panel.right {
    margin-left: -20px;
}

.panel.left, .panel.right {
    height: 550px;
    z-index: 1;
}
.panel.center {
    z-index: 9;
    width: 370px;
}

#close-button {
    position: absolute;
    top: 15px;
    right: 15px;
}

.inner-container {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 55px 45px;
}
inner-container > img {
    width: 50%;
}

.inner-container > h2 {
    margin: 20px 0 10px;
    font-weight: 600;
    font-size: 22px;
    
}

.inner-container > p {
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 26px;
    color: #828282;
}


.food-selection {
    display: flex;
    align-items: center;
    background-color: #F0FFF5;
    border-radius: 5px;
    margin: 40px 0 20px;
    
}

.food-name-price {
    width: 50%;
    text-align: left;
    padding-left: 15px;
}

.food-name-price h5 {
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 3px;
}

.food-name-price h6 {
    font-weight: 600;
    color: #7A8F85;
    font-size: 14px;
    
}

.food-name-price a {
    color: #467A66;
    font-weight: bold;
    font-size: 12px;
}

.all-btn {
    width: 100%;
    padding: 15px 0;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.3 ease all; 
}

#ready-btn {
    width: 100%;
    padding: 15px 0;
    color: white;
    background: #46A67E;
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 20px 20px rgb(103, 189, 153, 0.5);
    filter: drop-shadow(0px, 4px, 4px rgb(0, 0, 0, 0.25));
    transition: 0.3 ease all; 
}

#ready-btn:hover {
    opacity: 0.8;
    transition: 0.3 ease all;
    cursor: pointer;
}

.inactive-btn {
    margin-top: 70px;
    background: #BDBDBD;
    box-shadow: 0px 20px 20px rgba(103, 189, 153, 0.2);
}

.dot-container {
    display: flex;
    flex-direction: row;
    width: 15%;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;

}

.dot {
    width: 8px;
    height: 8px;
    background-color: #E0E0E0;
    border-radius: 100%;
}

.dot.green {
    background-color: #67BD99;
}

.right, .left {
    display: none;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .right, .left {
        display: block;
    }

    
}